body{
    background-color: black;
}
.fondo img{
    width: 99vw;
    height: 47.8vw;
}
.logo{
    margin-top: -29vw;
    margin-left: 45vw;
    animation-name: animaciónLogo;
    animation-duration: 2s;
    opacity: 1;
}
.logo img{
    width: 9vw;
    height: 9vw;
}
