/*-----------Fuentes personalizadas de las paginas-----------------------*/
@font-face {
    font-family: letra1;
    src: url(fuente/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letra2;
    src: url(fuente/MyriadPro-Light.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image/pexels-pixabay-159400@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
/* contenedor blanco*/
.box1{
    background-color: white;
    width: 50vw;
    height: 30vw;
    margin: 13vw auto;
    border-radius: 3vw;
}
/* centrar todo el contenido que tiene la pagina*/
.box1{
    text-align: center;
}
/* ajustes de la imagen y de la letra*/
.box1 img{
    margin: 2vw 0;
    width: 5vw;
    height: 5vw;
}
.box1 p{
    font-family: letra1;
    font-size: 1.8vw;
}

@media only screen and (max-width : 850px){
    .box1{
        width: 75vw;
        height: 60vw;
        margin: 13vw auto;
        border-radius: 3vw;
    }
    .box1{
        text-align: center;
    }
    .box1 img{
        margin: 4vw 0;
        width: 11vw;
        height: 11vw;
    }
    /* ajustes de la imagen y de la letra*/
    .box1 p{
        font-size: 4vw;
    }
    .box1 .usu{
        font-size: 2.5vw;
        margin-top: 1vw;
    }
}