body{
    background-color: black;
}
.fondo img{
    width: 99vw;
    height: 47.8vw;
}
.logo{
    margin-top: -29vw;
    margin-left: 45vw;
}
.logo img{
    width: 9vw;
    height: 9vw;
}
@media only screen and (max-width : 850px){
    .logo img{
        width: 15vw;
        height: 15vw;
    }
    .logo{
        margin-top: -32vw;
        margin-left: 40vw;
    }
}
