*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image/pexels-pixabay-159400@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.box1{
    background-color: white;
    width: 50vw;
    height: 30vw;
    margin: 13vw auto;
    border-radius: 3vw;
}
.box1{
    text-align: center;
}
.box1 img{
    margin: 2vw 0;
    width: 5vw;
    height: 5vw;
}
.box1 p{
    font-size: 1.8vw;
}
.box1 .usu{
    font-size: 1vw;
    margin-top: 1vw;
}