.barraSuper{ 
    width: 100vw;
    margin-left: -0.7vw;
    margin-top: -1vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: rgb(227, 222, 222);
}
.botonImg{
    position: relative;
    left: 5.1vw;
    width: 1.2vw;
    height: 1.3vw;
    margin-top: 1vw;

}
.barraSuper a{
    color: black;
    margin-left: 1.6vw;
    margin-top: 1vw;
    text-decoration: none;
}
.loguito{
    width: 1.5vw;
    height: 1.5;
    margin-left: 7vw;
}
.img1{
    position: relative;
    left: 5vw;
    margin-top: 1vw;
    width: 1.2vw;
    height: 1.3vw;
}
.img2{
    position: relative;
    left: 2.7vw;
    margin-top: 1vw;
    width: 1.2vw;
    height: 1.3vw;

}
.foto{
    width: 3vw;
    height: 3vw;
    margin-top: 0.3vw;
}
/*--------------------------------------------*/
.bloque1 p{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 2vw;
}
.textoTitulo{
    font-size: 1.2vw;
}
