@font-face {
    font-family: letra1;
    src: url(fuente/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letra2;
    src: url(fuente/MyriadPro-Light.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    background-image: url(image/pexels-pixabay-159400@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo{
    width: 100vw;
    height: 57vw;
}
.barraSuper{ 
    position: relative;
    height: 3.5vw;
    width: 100vw;
    margin-top: -57.3vw;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}
.botonImg{
    position: relative;
    left: 5.1vw;
    width: 1.2vw;
    height: 1.3vw;
    margin-top: 1vw;

}
.barraSuper a{
    color: black;
    margin-left: 1vw;
    margin-top: 1.2vw;
    text-decoration: none;
}
.loguito{
    width: 1.5vw;
    height: 1.5;
    margin-left: 7vw;
}
.img1{
    position: relative;
    left: 5vw;
    margin-top: 1vw;
    width: 1.2vw;
    height: 1.3vw;
}
.img2{
    position: relative;
    left: 2.7vw;
    margin-top: 1vw;
    width: 1.2vw;
    height: 1.3vw;
}
.foto{
    width: 3vw;
    height: 3vw;
    margin-top: 0.3vw;
}
.blanco{
    width: 60vw;
    height: 43vw;
    background-color: white;
    border-radius: 4vw;
    margin: 5vw auto;
}
.ayuda{
    display: flex;
    margin: 4.5vw 0;
    justify-content: center;
}
.ayuda p.titulo{
    font-size: 3vw;
    margin: 2vw;
    margin-left: 7vw;
}
.ayuda img{
    position: absolute;
    width: 2.3vw;
    height: 2.3vw;
    margin-left: -9vw;
    top: 10.5vw;
}
.frecu{
    text-align: center;
    font-size: 1.5vw;
    margin-top: -6vw;
    margin-left: 2vw;
}
.pregunta{
    width: 46vw;
    height: 1.2vw;
    margin-left: 6vw;
    border: #ff6f2c 0.11vw solid;
    border-radius: 1vw;
    margin-top: 1vw;
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
}
.preguntas{
    width: 43vw;
    height: 13vw;
    margin-left: 8vw;
    border: #ff6f2c 0.11vw solid;
    text-align: center;
    border-radius: 2vw;
    margin-top: 2vw;
    font-size: 1.5vw;
    margin: 2vw auto;
}
textarea{
    margin-top: 1vw;
    border: none;
    background-color: rgb(221, 219, 219);
    width: 33vw;
    height: 5vw;
    font-size: 1.2vw;
    outline: none;
}
.repor{
    width: 10vw;
    height: 1vw;
    padding: 1vw 1vw;
    margin: 1vw auto;
    text-align: center;
    color: white;
    font-size: 1vw;
    border-radius: 2vw;
    background-color: #ff6f2c;
}
