body{
    background-color: black;
}
.fondo img{
    width: 99vw;
    height: 47.8vw;
}
.logo{
    margin-top: -29vw;
    margin-left: 44vw;
    animation-name: animaciónLogo;
    animation-duration: 2s;
    opacity: 1;
}
@keyframes animaciónLogo{
    10%{opacity: 1;}
    30%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
