@font-face {
    font-family: letra1;
    src: url(fuente/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letra2;
    src: url(fuente/MyriadPro-Light.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    background-image: url(image/pexels-pixabay-159400@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo{
    width: 100vw;
    height: 57vw;
}
/*-----------       diseño de la barra superior        ----------------------*/
.barraSuper{ 
   /* position: relative;*/
   background-color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100vw;
   height: 3.5vw;
}

.barraSuper2{
    display: none;
}
.botonImg{
    display: flex;
    justify-content: space-around;

    margin-right: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    

}
.barraSuper a{
    
    text-decoration: none;
    color: black;
    font-size: 1vw;
    display: flex;
    align-items: center;
   
  
    text-decoration: none;
}
.loguito{
    width: 1.5vw;
    height: 1.5;
    margin-left: 7vw;
}

.menuDerecho{
    display: flex;
    align-items: center;
    
}
.img1{
    
   margin-right: 1vw;
    width: 1.2vw;
    height: 1.3vw;
}
.img2{
    
    margin-right: 1vw;
    width: 1.2vw;
    height: 1.3vw;
}
.foto{
    width: 2.9vw;
    height: 2.9vw;
    margin-top: 0.2vw;
}
#fot{
    display: none;
}
.opciones{
    text-align: center;
    background-color: white;
    position: absolute;
    left: 81vw;
    top: 4vw;
    width: 18vw;
    height: 15vw;
    border-radius: 2vw;
}
.nara{
    width: 18vw;
    height: 4vw;
    background-color: #ff6f2c;
    border-top-left-radius: 2vw;

}
.opciones img{
    position: absolute;
    z-index: 1;
    justify-content: center;
    margin-left: -3vw;
    border: white 5px solid;
    border-radius: 5vw;
    top: 1vw;
}
#fot:checked ~ .opciones{
    display: none;
}
p.pedrito{
    font-family: letra1;
    font-size: 1.2vw;
    margin-top: 3vw;
}
.email{
    font-family: letra2;
    font-size: 1vw;
}
.opciones a.add{
    position: absolute;
    left: -1vw;
    text-decoration: none;
    color: white;
    width: 6vw;
    height: 2vw;
    text-align: center;
    background-color: #ff6f2c;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
}
.opciones a.sign{
    position: absolute;
    left: 2vw;
    text-decoration: none;
    color: white;
    width: 7vw;
    height: 2vw;
    background-color: #ff6f2c;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
}
/* Contenedor blanco donde se encuantra toda la información de la pagina ayuda*/
.blanco{
    width: 60vw;
    height: 43vw;
    background-color: white;
    border-radius: 4vw;
    margin: 5vw auto;
}
.ayuda{
    display: flex;
    margin: 4.5vw 0;
    justify-content: center;
}
/* Tamaño ya comodacion del titulo ayuda*/
.ayuda p.titulo{
    font-size: 3vw;
    margin: 2vw;
    margin-left: 7vw;
}
/* ancho y alt y acomodacion del logo ayudar*/
.ayuda img{
    position: absolute;
    width: 2.3vw;
    height: 2.3vw;
    margin-left: -9vw;
    top: 10.5vw;
}
/* acodacion del pequeño comntenido */
.frecu{
    text-align: center;
    font-size: 1.5vw;
    margin-top: -6vw;
    margin-left: 2vw;
}
/* cuadros de las preguntas */
.pregunta{
    width: 46vw;
    height: 1.2vw;
    margin-left: 6vw;
    border: #ff6f2c 0.11vw solid;
    border-radius: 1vw;
    margin-top: 1vw;
    font-size: 1.2vw;
    padding: 0.8vw 1vw;
}
/* cuadro donde pueden escribir si tienen mas preguntas*/
.preguntas{
    width: 43vw;
    height: 13vw;
    margin-left: 8vw;
    border: #ff6f2c 0.11vw solid;
    text-align: center;
    border-radius: 2vw;
    margin-top: 2vw;
    font-size: 1.5vw;
    margin: 2vw auto;
}
/* ajuste del cuadro de comentarios*/
textarea{
    margin-top: 1vw;
    border: none;
    background-color: rgb(221, 219, 219);
    width: 33vw;
    height: 5vw;
    font-size: 1.2vw;
    outline: none;
}
/*boton de enviar */
.repor{
    width: 10vw;
    height: 1vw;
    padding: 1vw 1vw;
    margin: 1vw auto;
    text-align: center;
    color: white;
    font-size: 1vw;
    border-radius: 2vw;
    background-color: #ff6f2c;
}
@media only screen and (max-width : 768px){
    .barraSuper{
        display: none;
    }

    .barraSuper2{
        width: 30vw;
        display: block;
        background-color: white;
        height: 10vw;
    }
    
    .blanco{
        width: 70vw;
        height: 77vw;
    }
    /* Tamaño ya comodacion del titulo ayuda*/
    .ayuda p.titulo{
        font-size: 4.3vw;
        margin: 2vw;
        margin-left: 10vw;
    }
    /* ancho y alt y acomodacion del logo ayudar*/
    .ayuda img{
        width: 3vw;
        height: 3vw;
        margin-left: -12vw;
        top: 11vw;
    }
    /* acodacion del pequeño comntenido */
    .frecu{
        text-align: center;
        font-size: 2vw;
        margin-top: -6vw;
        margin-left: 3.5vw;
    }
    /* cuadros de las preguntas */
    .pregunta{
        width: 58vw;
        height: 4.5vw;
        margin-left: 4vw;
        border: #ff6f2c 0.11vw solid;
        border-radius: 1vw;
        font-family: "letra2";
        margin-top: 2vw;
        font-size: 3vw;
        padding: 0.9vw 2vw;
    }
    /* cuadro donde pueden escribir si tienen mas preguntas*/
    .preguntas{
        width: 55vw;
        height: 24vw;
        margin-left: 8vw;
        border: #ff6f2c 0.11vw solid;
        text-align: center;
        border-radius: 2vw;
        font-size: 2vw;
        margin: 4vw auto;
    }
    /* ajuste del cuadro de comentarios*/
    textarea{
        width: 43vw;
        height: 9vw;
        font-size: 2vw;
    }
    /*boton de enviar */
    .repor{
        width: 13vw;
        height: 2vw;
        margin: 1vw auto;
        font-size: 2vw;
        border-radius: 2vw;
    }
}